USE [master]
GO
/****** Object:  Database [Restaurante]    Script Date: 28/11/2023 08:04:32 p. m. ******/
CREATE DATABASE [Restaurante]
GO
USE [Restaurante]
GO
/****** Object:  Table [dbo].[TREST_CLIENTE]    Script Date: 28/11/2023 08:04:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREST_CLIENTE](
	[TN_IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[TC_Nombre] [varchar](60) NOT NULL,
	[TC_Ap1] [varchar](60) NOT NULL,
	[TC_Ap2] [varchar](60) NOT NULL,
	[TC_NumTelefono] [varchar](15) NOT NULL,
	[TC_CorreoElectronico] [varchar](100) NOT NULL,
	[TB_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[TN_IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREST_MENU]    Script Date: 28/11/2023 08:04:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREST_MENU](
	[TN_IdMenu] [int] IDENTITY(1,1) NOT NULL,
	[TC_DscMenu] [varchar](100) NOT NULL,
	[TN_IdTipoMenu] [int] NOT NULL,
	[TD_Precio] [decimal](19, 2) NOT NULL,
	[TB_Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TN_IdMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREST_MESA]    Script Date: 28/11/2023 08:04:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREST_MESA](
	[TN_IdMesa] [int] IDENTITY(1,1) NOT NULL,
	[TC_DscMesa] [varchar](100) NOT NULL,
	[TB_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Mesa] PRIMARY KEY CLUSTERED 
(
	[TN_IdMesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREST_RESERVACION]    Script Date: 28/11/2023 08:04:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREST_RESERVACION](
	[TN_NumReservacion] [int] IDENTITY(1,1) NOT NULL,
	[TN_IdCliente] [int] NOT NULL,
	[TN_IdMesa] [int] NOT NULL,
	[TN_IdMenu] [int] NOT NULL,
	[TN_Cantidad] [int] NOT NULL,
	[TF_FecReserva] [datetime] NOT NULL,
	[TB_Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TN_NumReservacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREST_TIPOMENU]    Script Date: 28/11/2023 08:04:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREST_TIPOMENU](
	[TN_IdTipoMenu] [int] IDENTITY(1,1) NOT NULL,
	[TC_DscTipoMenu] [varchar](100) NOT NULL,
	[TB_Estado] [bit] NOT NULL,
 CONSTRAINT [PK_TipoMenu] PRIMARY KEY CLUSTERED 
(
	[TN_IdTipoMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREST_USUARIO]    Script Date: 28/11/2023 08:04:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREST_USUARIO](
	[TN_IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[TC_Nombre] [varchar](60) NOT NULL,
	[TC_NombreUsuario] [varchar](60) NOT NULL,
	[TC_Contrasena] [varchar](80) NOT NULL,
	[TC_CorreoElectronico] [varchar](100) NOT NULL,
	[TB_Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TN_IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TREST_MENU]  WITH CHECK ADD FOREIGN KEY([TN_IdTipoMenu])
REFERENCES [dbo].[TREST_TIPOMENU] ([TN_IdTipoMenu])
GO
ALTER TABLE [dbo].[TREST_RESERVACION]  WITH CHECK ADD FOREIGN KEY([TN_IdMesa])
REFERENCES [dbo].[TREST_MESA] ([TN_IdMesa])
GO
ALTER TABLE [dbo].[TREST_RESERVACION]  WITH CHECK ADD FOREIGN KEY([TN_IdMenu])
REFERENCES [dbo].[TREST_MENU] ([TN_IdMenu])
GO
ALTER TABLE [dbo].[TREST_RESERVACION]  WITH CHECK ADD FOREIGN KEY([TN_IdCliente])
REFERENCES [dbo].[TREST_CLIENTE] ([TN_IdCliente])
GO
USE [master]
GO
