@model Restaurante.Web.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Internal Server Error";
}

<h1 class="text-danger">500 - Internal Server Error</h1>
<p class="font-weight-bold">@Model.Message</p>
