@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Sistema de Restaurante" />
    <title>Restaurante - Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>

    <div class="container mt-5">
        <div class="row">
            <section class="col-md-6 col-sm-12 mt-5 ml-auto mr-auto">
                @if (ViewData["LoginMessage"] != null)
                {
                    <div class="alert alert-dismissible fade show alert-danger mb-3" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p class="mb-0">@ViewData["LoginMessage"].ToString()</p>
                    </div>
                }

                @if (TempData["Session"] != null)
                {
                    <div class="alert alert-dismissible fade show alert-warning mb-3" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p class="mb-0">@TempData["Session"].ToString()</p>
                    </div>
                }

                <article class="card card-primary mr-auto ml-auto">
                    <header class="card-header">
                        <h1 class="text-center font-weight-normal text-light">Restaurante</h1>
                    </header>
                    <form method="post" asp-area="" asp-controller="Usuario" asp-action="Login" class="card-body" id="frm">
                        <input type="text" name="usuario" value="" placeholder="Nombre de Usuario" class="form-control mb-3" />
                        <input type="password" name="contrasena" value="" placeholder="Contraseña" class="form-control" />
                        <input type="hidden" name="returnUrl" value="@ViewData["returnUrl"]" />
                    </form>
                    <footer class="card-footer">
                        <button class="btn btn-primary btn-block" type="submit" form="frm">Iniciar Sesión</button>
                    </footer>
                </article>
                @*
                <div class="ml-auto mr-auto mt-5">
                    <form method="post" asp-area="" asp-controller="Usuario" asp-action="Login">
                        <input type="hidden" name="usuario" value="alonso" />
                        <input type="hidden" name="contrasena" value="alonso" />
                        <input type="hidden" name="returnUrl" value="@ViewData["returnUrl"]" />
                        <input type="submit" name="name" value="Ingresar (INICIO RAPIDO PARA PRUEBAS)" class="btn btn-dark" />
                    </form>
                </div>
                *@
            </section>
        </div>

    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
